<div class="row container">
    <div class="header left-align">
        <h4>Create new Account</h4>
    </div>

    <div class="row">
        <form class="col s12" [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" formControlName="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" formControlName="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password-checker" type="password" class="validate">
                    <label for="password-checker">Please, repeat your password!</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn-large btn-waves">Create my account</button>
                </div>
            </div>
        </form>
    </div>

</div>