.profile-content {
    background: white;
    height:100vh;
   
}

.avatar-info {
    padding-top: 30px;

}
p {
    margin-top: 0
    
}

.profile-icon {
    color: darkslategray;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.icon-area {
    margin-top: 15px;
}

.profile-icon:hover {
    color: darkgray;
    cursor: pointer;
}


.user-avatar {
    border-radius: 50%;
    width: 150px;
}


@media only screen and (max-width: 600px) {
    .user-avatar {
        width: 80px;    }
  }