.info-label {
    cursor: pointer;
    color: #004d40;
    opacity: 0.6;
    transition: 0.3s;
}
.user-info {
    font-size: 1.8rem;
}

.profile-content {
    background: white;

}

.profile-card {
    margin:20%
}

img {
    border-radius: 50%;
}

.create-icon {
    color: #004d40;
    opacity: 0.6;
    transition: 0.3s;
}

.create-icon:hover {
    color: #26a69a;
}