agm-map {
  height: 80vh;
  max-width:100%;
}


.nearby-places {
  background: white;
  overflow: hidden;
  padding-top: 2%;
}

h3 {
  margin: 0;
}

.nearby-places-header {
  margin-bottom: 20px;
}


