<app-navbar></app-navbar>
<agm-map #map (mapReady)="mapLoaded($event)" [latitude]="lat" [zoom]="zoom" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng">
    </agm-marker>
</agm-map>



<div class="nearby-places">
    <div>
        <div class="center-align nearby-places-header">
            <header>
                <h3>Nearby places</h3>
            </header>
        </div>
        <div *ngFor="let place of nearbyPlaceList" class="container left-align place">
            <app-place-section [place]="place"></app-place-section>

        </div>

    </div>

</div>