
.place-icon {
    width: 20px;
    margin-right: 8px;
  }
  
  .place-label {
    margin-right: 10px;
    font-size: 2.4rem;
  }
  
  .rating-label {
    padding-top: 10px;
    font-size: 25px;
    cursor: pointer;
  }

 
  .vicinity-label {
    font-size: 15px;
  }
  
  
  .place {
    margin-bottom: 40px;
  }

  .comment-icon {
    cursor: pointer;
  }