<div class="row place-section" *ngIf="place">

    <div class="col s12">
        <span>
            <img class="place-icon" [src]="place.icon" alt="icon">
            <label class="place-label">{{place.name}}</label>
            <span (click)="handleFavoriteAction()" class="material-icons favorite-icon">{{getFavoriteIcon()}}</span>

            <span (click)="enableCommentModal()" class="material-icons comment-icon">
                notes
            </span>

        </span>
    </div>
    <div class="col s12">
        <label class="vicinity-label">{{place.vicinity}}</label>
    </div>



    <div *ngIf="placeEvaluationList">
        <div class="col s12 commentary-content" *ngFor="let placeEvaluation of placeEvaluationList">
            <app-comment-section [placeUserEvaluation]="placeEvaluation"></app-comment-section>

        </div>
    </div>


</div>



<div *ngIf="commentModalIdentifier" [id]="commentModalIdentifier" class="modal">
    <div class="modal-content">
        <h4>Tell us what you think about about {{place.name}}</h4>

        <div class="row">
            <div class="col s12">
                <input [(ngModel)]="newPlaceUserEvaluation.commentary" class="input-field"
                    placeholder="Press enter to Confirm!">
            </div>

            <div class="col s12 rating-section">
                <app-rating (onVote)="registerRatingVote($event)"></app-rating>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button (click)="finishCommentary()" class="btn">
            Done
        </button>
    </div>
</div>